In [1]:

# Import Dependencies
import pandas as pd

In [2]:
csv_path = "election_data.csv"
df = pd.read_csv(csv_path)

df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
total_votes = df["Voter ID"].count()

In [7]:
candidate = df["Candidate"].unique()
df['Candidate'].value_counts()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [13]:
df["Candidate"].value_counts("Candidate")

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64

In [18]:
df.describe()

           Voter ID
count  3.521001e+06
mean   1.500082e+07
std    2.886765e+06
min    1.000000e+07
25%    1.250072e+07
50%    1.500198e+07
75%    1.750010e+07
max    2.000000e+07